@model SocialNetwork.DataAccess.Entities.ApplicationUser

@{
    ViewBag.Title = "GetUserById";
}

<hr />
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-4">
            <div class="btn-group-vertical">
                @Html.ActionLink("My Profile", "Edit", "Profile", new { id = @Model.Id}, new { @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Friends", "", "", null, new { @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Messages", "", "", null, new { @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Groups", "", "", null, new { @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Posts", "", "", null, new { @class = "btn btn-primary btn-large" })
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group">
                <label for="message">Write a new post:</label>
                <textarea class="form-control" name="Text" id="text" placeholder="New post"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
    @ViewBag.Text
</div>
