@model SocialNetwork.DataAccess.Entities.ApplicationUser

@{
    ViewBag.Title = "GetUserById";
}

<hr />
<div class="container-fluid">
    <div class="row-fluid">
       <div class="col-md-4">
            <div class="btn-group-vertical">
                @Html.ActionLink("My Profile", "Edit", "Profile", new { id = @Model.Id}, new { @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Friends", "GetUserFriends", "Home", null, new { @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Messages", "GetUserMessages", "Message", new { id = @Model.Id }, new { @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Groups", "", "", null, new { @class = "btn btn-primary btn-large" })
                @Html.ActionLink("Posts", "GetPostsByUser", "Post", new { id = @Model.Id}, new { @class = "btn btn-primary btn-large" })
            </div>
        </div>

        <div class="col-md-8">
            @using (Html.BeginForm("GetUserById", "Home", FormMethod.Post))
            {
                <label for="post">Write a new post:</label>
                <textarea class="form-control" name="Post" id="post" placeholder="New post"></textarea>
                <button type="submit" class="btn btn-default">Submit</button>
            }
        </div>
    </div>
</div>
