@using Microsoft.AspNet.Identity

<div class="row">
    <img src="@Url.Action("UserPhotos", "Profile")" id="ProfileImg" />
</div>

<div class="btn-group-vertical">
    <div class="row">
        <a href="@Url.Action("Edit", "Profile", new { id = User.Identity.GetUserId<int>() })" class="btn btn-primary btn-large">
            My Profile
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
    </div>
    <div class="row">
        <a href="@Url.Action("GetUserFriends", "Home", null)" class="btn btn-primary btn-large">
            Friends
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>
    </div>
    <div class="row">
        <a href="@Url.Action("GetUserMessages", "Message", new { id = User.Identity.GetUserId<int>() })" class="btn btn-primary btn-large">
            Messages
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a>
        <span id="messageCounter" hidden>1</span>
    </div>
    <div class="row">
        <a href="@Url.Action("GetUserById", "Home") "class="btn btn-primary btn-large">
            Posts
            <i class="glyphicon glyphicon-list-alt"></i>
        </a>
    </div>
</div>

<script type="text/javascript">
    $.getJSON(
        "@Url.Action("HasUnreadedMessages", "Message", new { id = User.Identity.GetUserId<int>()})",
        function(data) {
            if (data.countMessages != 0) {
                document.getElementById("messageCounter").hidden = false;
                $("#messageCounter").html(data.countMessages);
            }
        });
</script>
