@model IEnumerable<SocialNetwork.DataAccess.Entities.Post>

@{
    Layout = null;
}

<link type="text/css" rel="stylesheet" href="~/Content/PostStyles.css" />

<ul class="posts">
    @foreach (var post in Model)
    { 
        <li>
            <div class="row">
                <span class="username">@post.ApplicationUser.Profile.FirstName</span>
                <span class="date-posted">Posted @post.Date</span>
            </div>
            <p> @post.Text </p>
            <div class="row">
                   @Html.Partial("_LikeButton", post)   
            </div>
            <form class="add-comment" action=@Url.Action("Create", "Comment") method="post">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="hidden" id="postId" name="PostId" value='@post.Id' />
                            <input type="hidden" id="ownerId" name="ownerId" value='@post.ApplicationUserId' />
                            <input type="text" class="form-control" name="comment" placeholder="Add a comment"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default" type="submit">Add Comment</button>
                    </div>
                </div>
            </form>
            @{Html.RenderAction("GetCommentsToPost", "Comment", new { id = post.Id});}
        </li>
    }
</ul>
